li {
  list-style: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--Primary);
  align-items: center;
  text-align: center;
  color: var(--Text);
}

.main-info-container {
  background-image: url('../assets/main-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 60%;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.main-title {
  font-size: 2rem;
  /*font-weight: lighter;*/
  color: var(--Hover);
}

.robot:after {
  font-size: 2rem;
  content: attr(data-hover);
}

.robot:hover {
  animation-name: robot-animation;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}

@keyframes robot-animation {
  0% {
  transform: rotate( 0.0deg)
  }
  10% {
  transform: rotate(14.0deg)
  }
  20% {
  transform: rotate(-8.0deg)
  }
  30% {
  transform: rotate(14.0deg)
  }
  40% {
  transform: rotate(-4.0deg)
  }
  50% {
  transform: rotate(10.0deg)
  }
  60% {
  transform: rotate( 0.0deg)
  }
  100% {
  transform: rotate( 0.0deg)
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 1rem;
}

.about-content {
  font-size: 1.4rem;
  font-weight: 100;
  width: 35%;
}

.microverse {
  color: var(--Hover);
}

.email-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 100;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--Hover);
  transition: all 0.5s ease-in-out 0s;
  display: inline-block;
  margin-bottom: 2rem;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--Hover);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
}

.link:hover {
  color: var(--Text);
}

.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.works-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  box-shadow: 0px -40px 40px var(--Primary);
}

.works-main-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  cursor: pointer;
}

.works-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--Hover);
}

.web-apps {
  display: flex;
  flex-direction: column;
  width: 65vw;
  max-width: 36rem;
  margin-bottom: 1rem;
  opacity: 0;
  transition: all 2s ease-in-out;
}

.web-app-title,
.web-sites-title {
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 100;
  color: var(--Text);
  margin: 0;
  width: 0;
  border-bottom: 1px solid var(--Text);
  transition: all 2s ease-in-out;
  white-space: nowrap;
}

.web-app-title {
  text-align: left;
}

.web-sites-title {
  text-align: right;
  align-self: end;
}

.works-main-title:hover .work-item-link {
  opacity: 1;
}

.works-main-title:hover .web-apps {
  opacity: 1;
}

.works-main-title:hover .web-app-title {
  width: 100%;
}

.works-main-title:hover .web-sites-title {
  width: 100%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.skills-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--Hover);
}

.skill {
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0;
}

.form-main-container {
  margin: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.email-form-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--Hover);
}

.input {
  background-color: var(--Text);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: Ubuntu, sans-serif;
}

.textarea {
  height: 5rem;
}

.input::placeholder {
  color: var(--Hover);
  font-weight: 300;
}

.form-btn {
  width: 50%;
  align-self: center;
  border: none;
  border-radius: 0.5rem;
  color: var(--Hover);
  background-color: var(--Primary);
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.footer-container {
  display: flex;
  margin: 3rem;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .main-info-container {
    width: 100%;
  }

  .title-container {
    flex-direction: column;
  }

  .main-title {
    margin: 0;
  }

  .about-content {
    width: 90%;
  }

  .web-apps {
    opacity: 1;
  }

  .web-app-title,
  .web-sites-title {
    width: 100%;
  }
}