.popup-skill-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--Primary);
  font-size: 1rem;
  font-weight: 400;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.html {
  background-color: var(--html);
}

.css {
  background-color: var(--css);
}

.javascript {
  background-color: var(--javascript);
}

.ruby {
  background-color: var(--ruby);
}

.reactjs {
  background-color: var(--reactjs);
}

.react-native {
  background-color: var(--reactNative);
}

.redux {
  background-color: var(--redux);
}