.work-item-container {
  cursor: context-menu;
}

.work-item-link {
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  cursor: pointer;
  font-weight: 100;
  margin-bottom: 0;
}

.work-item-link:hover {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .work-item-link {
    opacity: 1;
  }
}