:root {
  --Primary: #181818;
  --Text: #777777;
  --Hover: #c7c5c1;
  --html: #e34c26;
  --javascript: #f1e05a;
  --css: #29746d;
  --ruby: #701516;
  --reactjs: #5ed3f3;
  --reactNative: #045588;
  --redux: #7248b6;
  --Secondary: #424242;
  font-family: Ubuntu, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
